@charset "utf-8";
body{
	padding-top: 40px;
	font-family: "微软雅黑";
}
ul li{
	list-style: none;
}
.list_all{
    width: 100%;
    background-color: #e8e8e0;
}
#mine-header-box{
	position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    display: block;  
}
#mine-header{
	width: 100%;
	height: 40px;
	background-color: #de4943;
	color: #fff;
}
.mine-header-a1{
	text-decoration: none;
	width: 30px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
	display: block;
	background-position: -15px 6px;
    right: 10px;
	background: url(https://miscssl.jiuxian.com/mjava_statics/images/headBack.jpg) no-repeat
}
.mine-header-h2{
	width: 2.2rem;
	height: 40px;
	margin-left: -1.1rem;
	font-size: 16px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}
.mine-header-a2{
    text-decoration: none;
    width: 30px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
    background: url(https://miscssl.jiuxian.com/mjava_statics/images/headIcon.png);
    background-position: -150px 6px;
}
.list_img{
    width: 100%;
}
.list_img img{
    width: 100%;
}
.list_modules{
    padding-top: 2%;
    width: 100%;
}
.list_modules img{
    width: 100%;
} 
.modules_ul1{
    width: 100%;
    overflow: hidden;
    padding-left: 2%;
}
.modules_ul1 li{
    width: 47%;
    float: left;
    background-color: #fff;
    margin: 0 2% 2% 0;
    padding: 2% 0;
    position: relative;
}
.modules_ul1 li>div:first-of-type{
    width: 100%;
    text-align: center;
}
.modules_ul1 img{
    width: 140px;
    height: 140px;
    vertical-align: top;
}
.modules_ul1 li>p:first-of-type{
    width: 100%;
    height: 30px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    border-bottom: 1px solid #8e8e8e;
    padding-bottom: 12px;
}
.modules_ul1 li>p:nth-of-type(2){
    width: 50%;
    height: 24px;
    line-height: 24px;
    margin-top: 10%;
    color: red;
    font-weight: bold;
    font-size: 14px;
}
.modules_price{
    margin-left: 8px;
    color: #8e8e8e;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 12px;
}
.modules_ul1 li>div:nth-of-type(2){
    width: 40%;
    height: 26px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: red;
    font-size: 14px;
     border-radius: 5px;
}




